.ico{position:absolute;font-size:14pt;font-style: normal;padding-left:4px;z-index:5;}
.icon-name-si::before{content:'😇';}
.icon-user-si::before{content:'😸';}
.icon-lock-si::before{content:'🔒';}
.icon-mail-si::before{content:'📧';}
#id_email{position:absolute;display:none;z-index:-10;top:-1000rem;}
.ico + input{padding-left: 3rem;}
.ico ~ input[type="email"],
.ico ~ input[type="password"],
.ico ~ input[type="text"]{text-indent:10px;}
